.gallery {
    --s: 250px; /* control the size */
    --g: 40px;  /* control the gap */
    --f: 1.95;     /* control the scale factor */
    
    display: grid;
    gap: var(--g);
    width: calc(2*var(--s) + var(--g));
    aspect-ratio: 1;
    grid-template-columns: repeat(2,auto);
  }
  
  .gallery > div {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    cursor: pointer;
    background: rgb(255, 131, 255);
    transition: .35s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 1px 1px 10px rgb(255, 70, 224); */
    outline: 10px outset rgb(255, 47, 186);
  }

  .gallery > div > span {
    font-size: 20pt;
    text-align: center;
  }
  
  .gallery div:hover{
    width:  calc(var(--s)*var(--f));
    height: calc(var(--s)*var(--f));
  }
  
  .gallery div:hover + div > span{
    display: none;
  }
  
  body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
    background: #a2ddff;
    background-image: url("../icon_tele.gif");
    font-family: Arial, Helvetica, sans-serif;
  }